
<div class="social_background_image">
    <mat-card class="simply-login-card card">
        <div class="card-header simply-background-color-warn">
            <h4 class="text-center">Registration</h4>
        </div>

        <div class="container mt-3">
            <form>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" >
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" >
                        </mat-form-field>
                    </div>
                </div>  
                
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="EmailId" >
                </mat-form-field>
                
                
                <p class="text-right" routerLink="/login">Already Have a Account ?</p>            
                <button type="submit" class="mb-4 mt-2 col-12 simply-button-background-color-warn" mat-raised-button>Register</button>
            </form>
        </div>
    </mat-card>
</div>